<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- This add entity adds the "Antavo API log" entry to the main sidebar -->
        <add id="Magento_Integration::system_integrationss"
             title="Antavo API log"
             module="Magento_Integration"
             sortOrder="10"
             parent="Magento_Integration::system_extensions"
             action="loyaltyapps/errors/show"
             resource="Magento_Integration::integrations"/>
    </menu>
</config>
